html, body {
  height: 100%;
}

.full-height { 
  min-height: 100% !important;
}

/* Remove all form field spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.sidebar {
  background-color: #76c6eb;
  /*min-height: 100% !important;*/
}

#logo {
  width: 90%;
  padding: 5%;
}

#sidebar-list {
  list-style-type: none;
}

#sidebar-list a {
  font-size: 20px;
  color: #ffffff;
}

#sidebar-title {
  text-align: center;
}

#sidebar-title a {
  text-decoration: none;
  color: #FFFFFF;
}

.content-container {
  padding: 3%;
}
 