#id_study_type > label {
  display:block;
}

#right_side {
  height: 495px;
  overflow: auto
}

#id_dateofmessurement {
  width: 50%;
}

#dynamic_generate_history {
  display: none;
}

.confirm-checkbox {
  margin-top: 45px;
  margin-left: -10px;
}

.confirm-row-checkbox {
  margin-top:  15px;
  margin-left: -10px;
}

.form-input {
  width: 100%;
}

/* Make studies 'seem' clickable */
tr:hover {
  cursor: pointer;
}