# Database related files
db.sqlite3
main_page/migrations/

# Cached dicom objects
tmp/
active_dicom_objects/
deleted_dicom_objects/
control_dicom_objects/
deleted_studies/
search_dir/
pacs_study_queue/
db_dumps/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
old_venv/
# Deployment files
clairvoyance.sock
clairvoyance_uwsgi.ini
uwsgi_params
main_page/static/admin

# Logging files
log/

# Data files
*.dcm

*.png
*.jpeg
*.jpg
*.bmp
*.json
*.xml
*.csv
*.log

*.coverage
.env

# Latex files
*.synctex.gz
*.aux
*.fls
*.fdb_latexmk
*.dvi
*.toc
*.out
*.bbl
*.blg
# vscode hidden dir
.vscode/
.env

# Test webdrivers
main_page/tests/selenium_drivers/

# Misc. files
TODO.txt
key.py
scripts/
rigs_fetcher/
