# Cached dicom objects
tmp/
active_dicom_objects/
deleted_dicom_objects/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Deployment files
uwsgi_params
clairvoyance.sock
clairvoyance_uwsgi.ini
main_page/static/admin/

# Logging files
log/

*.dcm
*.png
*.jpeg
*.jpg
*.csv
*.log
*.aux
*.dvi
*.coverage
*.toc
