asgiref
beautifulsoup4
coverage
cycler
Django
django-auth-ldap
django-bootstrap4
kiwisolver
matplotlib
mysqlclient
numpy
pandas
Pillow
pyasn1
pyasn1-modules
pydicom
pynetdicom
pyparsing
pysmb
python-dateutil
python-ldap
pytz
scipy
selenium
six
soupsieve
sqlparse
urllib3
