asgiref
beautifulsoup4
coverage
cycler
Django
django-auth-ldap
kiwisolver
matplotlib
mysqlclient
numpy
pandas
Pillow
pyasn1
pyasn1-modules
pydicom
pynetdicom
pyparsing
pysmb
python-dateutil
python-ldap
pytz
scipy
six
soupsieve
sqlparse
urllib3
