{% extends 'main_page/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/admin_panel.css' %}">
{% endblock head %}

{% block content %}
  <h2>Admin panel</h2>

  <div class="row">
    <div class="col-md-3">
      <form>
        <select class="form-control" id="model-selector">
          <option value="users">Brugere</option>
          <option value="hospitals">Hospitaler</option>
          <option value="departments">Afdelinger</option>
          <option value="configs">Konfigurationer</option>
          <option value="handled_examinations">Behandlede undersøgelser</option>
          <option value="procedures">Procedurer</option>
          <option value="procedure_mapping">Procedure filter</option>
          <option value="address">Addresser</option>
          <option value="server_config">Server Konfiguration</option>
        </select>
      </form>
    </div>

    <div class="col-md-3">
      <form>
        <button type="button" id="add-btn" class="add-btn btn btn-primary">
          <span title="Tilføj" class="oi oi-plus" aria-hidden="true"></span>
        </button>
      </form>
    </div>

    <!-- Remove everything buttons -->
    <div class="col-md-6">
      <form id="nuke-form">
        <button type="button" id="nuke-list-studies" class="nuke-btn btn btn-sm btn-danger">
          Ryd undersøgelser
        </button>
        <button type="button" id="nuke-deleted-studies" class="nuke-btn btn btn-sm btn-danger">
          Ryd slettede undersøgelser
        </button>
      </form>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <div id="error-container">

      </div>

      <table class="table table-hover" id="admin-table">
        <thead>
          <tr id="admin-table-head">

          </tr>
        </thead>
        <tbody id="admin-table-body">

        </tbody>
      </table>
    </div>
  </div>

<!-- nuke list_studies modal -->
<div class="modal fade" id="nukeLSModal" tabindex="-1" role="dialog" aria-labelledby="nukeLSModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nukeLSModalLabel">Fjern alle åbne undersøgelser</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p><strong>ADVARSEL:</strong> Du er ved at permanent fjerne alle åbne undersøgelser, inkluderende alt indtastede information!</p>
          <p> Undersøgelser som stadig er ankomst registeret ville blive hentet ned igen. (kan tage op til 15 min.)</p>
        {% bootstrap_form nuke_list_form %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Afbryd</button>
        <button id="nukeLS-modal-accept" type="button" class="btn btn-danger">Fjern</button>
      </div>
    </div>
  </div>
</div>

<!-- nuke deleted_studies modal -->
<div class="modal fade" id="nukeDSModal" tabindex="-1" role="dialog" aria-labelledby="nukeDSModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nukeDSModalLabel">Fjern alle slettede undersøgelser</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p><strong>ADVARSEL:</strong> Du er ved at permanent fjerne alle slettede undersøgelser, inkluderende alt indtastede information!</p>
        {% bootstrap_form nuke_deleted_form %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Afbryd</button>
        <button id="nukeDS-modal-accept" type="button" class="btn btn-danger">Fjern</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'main_page/js/util/csrf.js' %}"></script>
  <script src="{% static 'main_page/js/sort_table.js' %}"></script>
  <script src="{% static 'main_page/js/util/alerter.js' %}"></script>
  <script src="{% static 'main_page/js/admin_panel.js' %}"></script>
{% endblock %}