{% extends 'main_page/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/admin_panel.css' %}">
{% endblock head %}

{% block content %}
  <h2>Admin panel</h2>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
<form action="{% url 'main_page:admin_add_redirect' %}" method="post" hx-boost="true">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-3">
      <select class="form-control"
        id="model-selector"
        name="model"
        hx-get="{% url 'main_page:load_model_items' %}"
        hx-target="#admin-table"
        hx-include="[name='model']"
        hx-trigger="change">
        <option disabled selected value> -- Vælg en model -- </option>
        <option value="users">Brugere</option>
        <option value="hospitals">Hospitaler</option>
        <option value="departments">Afdelinger</option>
        <option value="configs">Konfigurationer</option>
        <option value="handled_examinations">Behandlede undersøgelser</option>
        <option value="procedures">Procedurer</option>
        <option value="procedure_mapping">Procedure filter</option>
        <option value="address">Addresser</option>
        <option value="server_config">Server Konfiguration</option>
      </select>
    </div>

    <div class="col-md-3">
      <button id="add-btn" class="oi-oi-plus-btn btn btn-primary" type="submit">
        <span title="Tilføj" class="oi oi-plus" aria-hidden="true"></span>
      </button>
    </div>
</form>


    <!-- Remove everything buttons -->
    <div class="col-md-6">
      <form id="nuke-form">
        <button type="7button" id="nuke-list-studies" class="nuke-btn btn btn-sm btn-danger">
          Ryd undersøgelser
        </button>
        <button type="button" id="nuke-deleted-studies" class="nuke-btn btn btn-sm btn-danger">
          Ryd slettede undersøgelser
        </button>
      </form>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <div id="error-container">
      </div>
      <table class="table table-hover" id="admin-table">
      </table>
    </div>
  </div>

<!-- Nuke List Studies Modal -->
<div class="modal fade" id="nukeLSModal" tabindex="-1" role="dialog" aria-labelledby="nukeLSModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nukeLSModalLabel">Fjern alle åbne undersøgelser</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Luk">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>ADVARSEL:</strong> Du er ved at permanent fjerne alle åbne undersøgelser!</p>
        <p>Undersøgelser som stadig er ankomst registeret vil blive hentet ned igen. (kan tage op til 15 min.)</p>
        <form id="nukeListForm">
          {{ nuke_list_form.as_p }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Afbryd</button>
        <button id="nukeLS-modal-accept" class="btn btn-danger">Fjern</button>
      </div>
    </div>
  </div>
</div>

<!-- Nuke Deleted Studies Modal -->
<div class="modal fade" id="nukeDSModal" tabindex="-1" role="dialog" aria-labelledby="nukeDSModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nukeDSModalLabel">Fjern alle slettede undersøgelser</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Luk">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>ADVARSEL:</strong> Du er ved at permanent fjerne alle slettede undersøgelser!</p>
        <form id="nukeDeletedForm">
          {{ nuke_deleted_form.as_p }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Afbryd</button>
        <button id="nukeDS-modal-accept" class="btn btn-danger">Fjern</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'main_page/js/util/csrf.js' %}"></script>
  <script src="{% static 'main_page/js/sort_table.js' %}"></script>
  <script src="{% static 'main_page/js/util/alerter.js' %}"></script>
  <!--<script src="{% static 'main_page/js/admin_panel.js' %}"></script>-->
{% endblock %}