{% extends 'main_page/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/admin_panel.css' %}">
{% endblock head %}

{% block content %}
  <h2>Admin panel – tilføj {{ model_name }}</h2>

  <div style="max-width: 400px;">
    <form id="add-form" method="POST">
      {% csrf_token %}
      {{ add_form.as_p }}

      <input type="submit" id="create-btn" value="Tilføj">
    </form>

    <br>

    <div id="error-msg-container"></div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'main_page/js/util/csrf.js' %}"></script>
  <script src="{% static 'main_page/js/util/alerter.js' %}"></script>
  <script src="{% static 'main_page/js/admin_panel_add.js' %}"></script>
{% endblock %}