{% extends 'main_page/base.html' %}

{% load static %}

{% load bootstrap4 %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/admin_panel.css' %}">
{% endblock head %}

{% block content %}
  <h2>Admin panel</h2>
  
  <div class="row">
    <div class="col-md-3">
      <form>
        <select class="form-control" id="model-selector">
          <option value="users">Brugere</option>
          <option value="hospitals">Hospitaler</option>
          <option value="departments">Afdelinger</option>
          <option value="handled_examinations">Behandlede undersøgelser</option>
        </select>
      </form>
    </div>

    <div class="col-md-3">
      <form>
        <button type="button" class="add-btn btn btn-primary">
          <span title="Tilføj" class="oi oi-plus" aria-hidden="true"></span>
        </button>
      </form>
    </div>
  </div>
  
  <br>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover"> 
        <thead>
          <tr id="admin-table-head">

          </tr>
        </thead>
        <tbody id="admin-table-body">

        </tbody>
      </table>    
    </div>
  </div>

{% endblock %}

{% block javascript %}
  <script src="{% static 'main_page/js/util/alerter.js' %}"></script>
  <script src="{% static 'main_page/js/admin_panel.js' %}"></script>
{% endblock %}