{% extends 'main_page/base.html' %}

{% load static %}

{% load bootstrap4 %}

{% block content %}
  <h2>Admin panel - add {{ model_name }}</h2>
  
  <div class="row">
    <div class="col-md-3">
      <form>
        {% bootstrap_form add_form %}

        <input type="button" id="create-btn" value="Tilføj">
      </form>

      <br>

      <div id="error-msg-container">
        
      </div>
    </div>
  </div>
  
{% endblock %}

{% block javascript %}
  <script src="{% static 'main_page/js/util/csrf.js' %}"></script>
  <script src="{% static 'main_page/js/util/alerter.js' %}"></script>
  <script src="{% static 'main_page/js/admin_panel_add.js' %}"></script>
{% endblock %}