{% load static %}

{% load bootstrap4 %}

<html>
  <head>
    <title>GFRcalc</title>

    <!-- Load base css -->
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/base.css' %}">

    <!-- Load Boostrap 4 css -->
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/bootstrap/bootstrap.css' %}">

    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container-fluid h-100">
      <div class="row full-height">
        <div class="sidebar col-2">
          <div class= "col-2 position-fixed">
            <img id="logo" src="{% static 'main_page/images/regionh.png' %}">
            <h3 id="sidebar-title"><a href="{% url 'main_page:index' %}">GFRcalc</a></h3>
            <ul id="sidebar-list">
              <li><a class="menu-item" href="{% url 'main_page:list_studies' %}">Udfyld undersøgelse</a></li>
              <li><a class="menu-item" href="{% url 'main_page:fetch_study' %}">Hent undersøgelse</a></li>
              <li><a class="menu-item" href="{% url 'main_page:documentation' %}">Dokumentation</a></li>
              <li><a class="menu-item" href="{% url 'main_page:config' %}">Indstillinger</a></li>
            </ul>
            {% if user.is_authenticated %}
              <p>Logget ind som: {{ user.username }}</p>
              <form method="POST">
                {% csrf_token %}

                {% buttons %}
                  <input class="btn-sm btn-light" type="button" value="Log ud" onclick="window.location='/logout';">
                {% endbuttons %}
              </form>
            {% endif %}
          </div>
        </div>
        <div class="col-10 content-container">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>