{% load static %}

{% load bootstrap4 %}

<html>
  <head>
    <title>GFRcalc</title>
    <!-- Load Boostrap 4 css -->
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/bootstrap/bootstrap.css' %}">

    <!-- Load base css -->
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/base.css' %}">
    
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container-fluid h-100">
      <div class="row full-height">
        <div id="sidebar" class="sidebar col-2">
          <div id="sidebar-inner" class= "col-2 position-fixed">
            <img id="logo" src="{% static 'main_page/images/regionh.png' %}">
            <h3 id="sidebar-title"><a href="{% url 'main_page:index' %}">GFRcalc</a></h3>
            <ul id="sidebar-list">
              <li><a class="menu-item" href="{% url 'main_page:list_studies' %}">Udfyld undersøgelse</a></li>
              <li><a class="menu-item" href="{% url 'main_page:search' %}">Hent undersøgelse</a></li>
              <li><a class="menu-item" href="{% url 'main_page:documentation' %}">Dokumentation</a></li>
              <li><a class="menu-item" href="{% url 'main_page:settings' %}">Indstillinger</a></li>
            </ul>
            {% if user.is_authenticated %}
              <p style="color: white;">Logget ind som: {{ user.username }}</p>
              <form method="POST">
                {% csrf_token %}

                {% buttons %}
                  <input type="button" value="Log ud" onclick="window.location='/logout';">
                {% endbuttons %}
              </form>
            {% endif %}
          </div>
        </div>
        <div id="content-container" class="col-10 content-container">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <!-- Inject Bootstrap required JS to allow collapses to close and expand -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <link href="{% static 'main_page/js/libs/datepicker/datepicker.min.css' %}" rel="stylesheet">
    <script src="{% static 'main_page/js/libs/datepicker/datepicker.min.js' %}"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="{% static 'main_page/js/base.js' %}"></script>
    
    {% block javascript %}{% endblock %}
  </body>
</html>