{% extends 'main_page/base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}

  <form method="GET">
    <div class="form-row">
      <div class="form-group">
        {% bootstrap_form getstudy %}
      </div>
    </div>
    {% buttons %}
      <input type="submit" name="Søg" value="Søg" id="søg">
    {% endbuttons %}
  </form>

  <div>
    {% for cpr, name, study_date, rigs_nr in responses %}
      <p>{{ cpr }}, {{ name }}, {{ study_date }}, {{ rigs_nr }}</p>
    {% endfor %}
  </div>
{% endblock %}