{% extends 'main_page/base.html' %}

{% load static %}
{% load gfr_tags %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/fill_study.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/util/alerter.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/util/csv-row.css' %}">
{% endblock head %}


{% block content %}
  <strong>Accession nr.:</strong><p>{{ rigsnr }}</p>
  {% if historic_studies %}
    Tidligere undersøgelser:
    {{ historic_studies }}
  {% endif %}

  <form method="POST" id="fill-study-form">
    {% csrf_token %}

    <!-- Add patient info -->
    <div class="form-row">
      <div class = "form-group col-md-3">
        <div class="form-group">{{grand_form.PatientID.errors }}{{ grand_form.PatientID.label_tag }}{{ grand_form.PatientID }}</div>
        <div class="form-group">{{grand_form.PatientName.errors }}{{ grand_form.PatientName.label_tag }}{{ grand_form.PatientName }}</div>
        <div class="form-group">{{grand_form.PatientSex.errors }}{{ grand_form.PatientSex.label_tag }}{{ grand_form.PatientSex }}</div>
        <div class="form-group">{{grand_form.PatientBirthDate.errors }}{{ grand_form.PatientBirthDate.label_tag }}{{ grand_form.PatientBirthDate }}</div>
      </div>
      <div class = "form-group col-md-3">
        <div class="form-group">{{grand_form.PatientHeightCM.errors }}{{grand_form.PatientHeightCM.label_tag}}{{ grand_form.PatientHeightCM }}</div>
        <div class="form-group">{{grand_form.PatientWeightKg.errors }}{{grand_form.PatientWeightKg.label_tag}}{{ grand_form.PatientWeightKg }}</div>
        <div class="form-group">{{grand_form.InjectionTime.errors }}{{grand_form.InjectionTime.label_tag}}{{ grand_form.InjectionTime }}</div>
        <div class="form-group">{{grand_form.InjectionDate.errors }}{{grand_form.InjectionDate.label_tag}}{{ grand_form.InjectionDate }}</div>
      </div>
      <div class="form-group col-md-3">
        <div class="form-group">{{ grand_form.VialNumber.errors }}{{ grand_form.VialNumber.label_tag }}{{ grand_form.VialNumber }}</div>
        <div class="form-group">{{ grand_form.InjectionWeightBefore.errors }}{{ grand_form.InjectionWeightBefore.label_tag }}{{ grand_form.InjectionWeightBefore }}</div>
        <div class="form-group">{{ grand_form.InjectionWeightAfter.errors }}{{ grand_form.InjectionWeightAfter.label_tag }}{{ grand_form.InjectionWeightAfter }}</div>
      </div>
      <div class = "form-group col-md-3">
        <div class="form-group">{{ grand_form.ThinningFactor.label_tag }}{{ grand_form.ThinningFactor }}</div>
        <small><a id="reset_thin_fac" href="#">Hent fortyndingsfaktor</a></small>
        <div>
          {{ grand_form.Method.label_tag }}{{ grand_form.Method }}
        </div>
      </div>
    </div>

    <hr>

    <!-- Second Half -->
    <div class="row">
      <!-- Left side-->
      <div class="col-md-6">
        <!-- Display test info -->
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ grand_form.Standard.label_tag }}{{ grand_form.Standard }}
          </div>
            <input type="button" value="Tilføj standard" id="add-standard">
        </div>

        <h5>Blodprøvedata</h5>
        <div class="form-row">
          <div class="form-group col-md-2">PrøveDato</div>
          <div class="form-group col-md-2">Prøvetidspunkt</div>
          <div class="form-group col-md-2">Tælletal</div>
          <div class="form-group col-md-2">Afvigelse</div>
        </div>
        <div id="test-data-container">

          <!-- Place where JS inserts new test data -->

          <!-- Insert previous tests -->
          {% for psd, pst, psc, psdv in previous_samples %}
          <div class="form-row">
            <div class="form-group col-md-2 readonly-field">
              <input type="text" class="form-control" name="sample_date" value="{{ psd }}" readonly>
            </div>
            <div class="form-group col-md-2 readonly-field">
              <input type="text" class="form-control sample_time_field" name="sample_time" value="{{ pst }}" readonly>
            </div>
            <div class="form-group col-md-2 readonly-field">
              <input type="text" class="form-control value-field sample_count_field" name="sample_value" value="{{ psc }}" readonly>
            </div>
            <div class="form-group col-md-2 readonly-field">
              <input type="text" class="form-control" name=sample_deviation value="{{ psdv }}" readonly>
            </div>
            <div class="form-group col-md-1">
              <input type="button" value="X" class="row-remove-btn btn btn-danger" id="remove{{ forloop.counter0 }}">
            </div>
            <div class="form-group col-md-1">
              <input type="button" value="🔒" class="row-lock-btn btn btn-light" id="lock{{ forloop.counter0 }}">
            </div>
          </div>
        {% endfor %}
        </div>
        <!-- Add test info -->
        <div id="add-test-container">
          <strong>Tilføj prøve:</strong>
          <div class="form-row" id="form-top">
            <div class="form-group col-md-4">
              {{ sample_form.SampleDate.label }}
              {{ sample_form.SampleDate }}
            </div>
            <div class="form-group col-md-4">
              {{ sample_form.SampleTime.label }}
              {{ sample_form.SampleTime }}
            </div>
          </div>
          <input type="button" value="Tilføj tælletal" id="add-test">
          <input type="button" value="Nulstil valgte prøver" id="reset-selected">
        </div>

        <div class="form-group">
          {{ grand_form.comment_field.label_tag }} {{ grand_form.comment_field }}
        </div>

        <input type="submit" name="calculate" value="Beregn" id="calculate">
        <input type="submit" name="save" value="Gem" id="save">
        <input type="submit" name="cancel" value="Annuller" id="cancel">

        <!-- Container for error/alert messages -->
        <div id="error-message-container">

        </div>
      <!-- Left Closing -->
      </div>

      <!-- Right side -->
      <div class="col-md-6" id="right_side">
        {% if csv_data_len != 0 %}
          <p><strong>Vælg prøvens tælletal fra fil:</strong></p>
            <div class="csvAccordion" id="accordionContainer">
              {% for name, data, id in csv_data %}
                <div class="card">
                  <div class="card-header" id="heading-{{ id }}">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ id }}" aria-expanded="true" aria-controls="collapse-{{ id }}">
                        {{ name }}
                      </button>
                    </h2>
                  </div> <!-- card header closing-->

                  <div id="collapse-{{ id }}" class="collapse" aria-labelledby="heading-{{ id }}" data-parent="#accordionContainer">
                    <div class="card-body">
                      <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>Rack</th>
                            <th>Position</th>
                            <th>Tc-99 CPM</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for data_row in data %}
                            <tr class="csv_row" id="{{ id }}-{{ forloop.counter }}">
                              <td>{{ data_row.0 }}</td>
                              <td>{{ data_row.1 }}</td>
                              <td>{{ data_row.2 }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div> <!-- card-body Closing -->
                  </div> <!--collapse-ID closing -->
                </div> <!-- card Closing -->

                <br>
              {% endfor %}
            </div> <!-- AccordingContainer Closing -->
            {% else %}
            <p id="server-error-msg">{{ error_message }}</p>
          <!-- </div> -->
        {% endif %}

        <div id="dynamic_generate_history">
          <input type="button" value="Tilbage til dagens målinger" id="remove-backup-btn">

          <br><br>

          <div id="history_container">

          </div> <!--history_container Closing-->
        </div> <!-- dynamic_generate_history Closing-->

        {{ get_backup_date_form }}
        <input type="button" value="Hent målinger" id="get-backup-btn">
      </div> <!-- Right closing-->
    </div>
  </form>

{% endblock %}

{% block javascript %}
  <script src="{% static 'main_page/js/util/csrf.js'              %}"></script>
  <script src="{% static 'main_page/js/util/bad_input_handler.js' %}"></script>
  <script src="{% static 'main_page/js/util/helpers.js'           %}"></script>
  <script src="{% static 'main_page/js/util/csv_handler.js'       %}"></script>
  <script src="{% static 'main_page/js/fill_study.js'             %}"></script>
  <script src="{% static 'main_page/js/alert_obj.js'              %}"></script>
{% endblock %}