{% extends 'main_page/base.html' %}

{% load static %}

{% block content %}
  <h2>Login</h2>
  <form method="POST">
    {% csrf_token %}

    <div class="form-group col-md-3">
      {% if not user.is_authenticated %}
        {% if browser_supported %}
          {% if login_failed %}
            <div id="err-msg-container" class="error">
              <strong>Forkert login</strong>
            </div>
          {% endif %}

            <div class="form-group">
              {{ login_form.username.label_tag }}{{ login_form.username }}
            </div>
            <div class="form-group">
              {{ login_form.password.label_tag }}{{ login_form.password }}
            </div>
            <div class="form-group">
              <input type="submit" id="login-btn" type="button" value="Log ind">
            </div>
        {% endif %}
      {% else %}
          <input type="button" value="Log ud" onclick="window.location='/logout';">
      {% endif %}

      {% if not browser_supported %}
        <div class="alert alert-danger">
          <strong>Advarsel:</strong> Den anvendte browser er ikke understøttet af dette program. Det anbefales at man anvender en understøttet browser: Google Chrome eller Mozilla Firefox, som kan hentes i Software shoppen.
        </div>
      {% endif %}
    </div>
  </form>
{% endblock %}

{% block javascript %}
  <script src="{% static 'main_page/js/util/csrf.js' %}"></script>
  <script src="{% static 'main_page/js/util/alerter.js' %}"></script>
  <script src="{% static 'main_page/js/index.js' %}"></script>
{% endblock %}