{% extends 'main_page/base.html' %}

{% load static %}

{% load bootstrap4 %}

{% block content %}
  <h2>Login</h2> <br>
  <form method="POST">
    {% csrf_token %}

    <div class="form-group col-md-3">
      {% if not user.is_authenticated %}
        {% bootstrap_form login_form %}
        
        <div id="err-msg-container"></div>
        {% buttons %}
          <input id="login-btn" type="button" value="Log ind">
        {% endbuttons %}
      {% else %}
        {% buttons %}
          <input type="button" value="Log ud" onclick="window.location='/logout';">
        {% endbuttons %}
      {% endif %}
    </div>
  </form>
{% endblock %}

{% block javascript %}
  <script src="{% static 'main_page/js/util/csrf.js' %}"></script>
  <script src="{% static 'main_page/js/util/alerter.js' %}"></script>
  <script src="{% static 'main_page/js/index.js' %}"></script>
{% endblock %}