{% extends 'main_page/base.html' %}

{% load bootstrap4 %}
{% load staticfiles %}

{% block content %}
  <h2>Vælg dagens undersøgelse</h2> <br>

  <table class="table table-bordered table-hover" id="new_studies"> 
    <thead>
      <tr>
        <th onclick="sort_table(0, 'new_studies')">Navn</th>
        <th onclick="sort_table(1, 'new_studies')">Cpr nr.</th>
        <th onclick="sort_table(2, 'new_studies')">Dato</th>
        <th onclick="sort_table(3, 'new_studies')">Accession nummer</th>
      </tr>
    </thead>
    <tbody>
      <!-- Make each row redirect to fill_study/rigsnr with rigsnr being the rigs nr. of the patient clicked -->
      {% for booking in bookings %}
        <tr onclick="document.location='{% url "main_page:fill_study" booking.rigs_nr %}'">
          <td>{{ booking.name }}</td>
          <td>{{ booking.cpr }}</td>
          <td>{{ booking.date }}</td>
          <td>{{ booking.rigs_nr }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'main_page:new_study' %}">Nødoprettelse</a>
  
  <h2>Vælg uafsluttet undersøgelser</h2>
  <table class="table table-bordered table-hover" id="old_studies">
    <thead>
      <tr>
        <th onclick="sort_table(0, 'old_studies')">Navn</th>
        <th onclick="sort_table(1, 'old_studies')">Cpr nr.</th>
        <th onclick="sort_table(2, 'old_studies')">Dato</th>
        <th onclick="sort_table(3, 'old_studies')">Accession nummer</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in old_bookings %}
      <tr onclick="document.location='{% url "main_page:fill_study" booking.rigs_nr %}'">
        <td>{{ booking.name }}</td>
        <td>{{ booking.cpr }}</td>
        <td>{{ booking.date }}</td>
        <td>{{ booking.rigs_nr }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block javascript %}
  <script src="{% static 'main_page/js/sort_table.js' %}"></script>
{% endblock %}