{% extends 'main_page/base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/list_studies.css' %}">
{% endblock head %}

{% block content %}
  <div class="row">
    <div class="col-md-9">
      <h2>Ny undersøgelse</h2> <br>
    </div>
    <div class="col-md-3">
      <br>
      <form class="form-row">
        <div class="form-group col-md-1"></div>
        <div class="form-group col-md-5">
          <a href="{% url 'main_page:new_study' %}" class="btn btn-sm btn-primary" role="button">Nødoprettelse</a>
        </div>
        <div class="form-group col-md-6">
          <button type="button" id="del-day-olds-btn" class="del-day-olds btn btn-sm btn-danger">
            Fjern gamle undersøgelser
          </button>
        </div>
    </form>
    </div>
  </div>
  {% if error_message %}
    <div class="row">
      <div class="col-md-4">
        <div class="alert alert-warning" role="alert">
          <strong>Advarsel: </strong><span>{{ error_message }}</span>
        </div>
      </div>
    </div>
  {% endif %}

  <table class="table table-hover" id="new_studies"> 
    <thead>
      <tr>
        <th onclick="sort_table(0, 'new_studies')">Navn</th>
        <th class="exam-status-column" onclick="sort_table(1, 'new_studies')">Status</th>
        <th onclick="sort_table(2, 'new_studies')">CPR</th>
        <th onclick="sort_table(3, 'new_studies')">Dato</th>
        <th onclick="sort_table(5, 'new_studies')">Accession nr.</th>
        <th onclick="sort_table(4, 'new_studies')">Procedure</th>
        <th></th> <!-- Empty column for action buttons -->
      </tr>
    </thead>
    <tbody>
      <!-- Make each row redirect to fill_study/rigsnr with rigsnr being the rigs nr. of the patient clicked -->
      {% for study in registered_studies %}
        <tr>
          <td onclick="document.location='{% url "main_page:fill_study" study.accession_number %}'">{{ study.name }}</td>
          <td class="exam-status-column" onclick="document.location='{% url "main_page:fill_study" study.accession_number %}'"><span class="oi oi-clipboard exam-status-{{ study.exam_status }}"></span></td>
          <td onclick="document.location='{% url "main_page:fill_study" study.accession_number %}'">{{ study.cpr }}</td>
          <td onclick="document.location='{% url "main_page:fill_study" study.accession_number %}'">{{ study.study_date }}</td>
          <td onclick="document.location='{% url "main_page:fill_study" study.accession_number %}'">{{ study.accession_number }}</td>
          <td class="non-clickable">{{ study.procedure }}</td>
          <td>
            <button type="button" class="trash-btn btn btn-link">
              <span title="Fjern undersøgelse" class="oi oi-trash" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>



  <!-- Delete study modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Vil du slette undersøgelsen</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Slettede undersøgelser bliver bevaret i 21 dage, og kan gendannes via. menu punktet 'Slettede undersøgelser'.</p>
          <p>Du er ved at slette undersøgelse med accessiodeleten nummer: <span id="modal-accession-number"></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Afbryd</button>
          <button id="delete-modal-accept" type="button" class="btn btn-danger">Slet undersøgelse</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal for accepting deletion of all studies which are more than a day old -->
  <div class="modal fade" id="dayOldModal" tabindex="-1" role="dialog" aria-labelledby="dayOldLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="dayOldLabel">Vil du slette alle undersøgelser som er mere end en dag gammel?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Slettede undersøgelser bliver bevaret i 21 dage, og kan gendannes via. menu punktet 'Slettede undersøgelser'.</p>
          <p>Du er ved at slette ALLE undersøgelser som er mere end en dag gammel.</p>
        </div>
        <div class="modal-footer">
          <form method="POST">
            {% csrf_token %}
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Afbryd</button>
            <input type="submit" value="Slet undersøgelser" id="dayold-modal-accept" class="btn btn-danger">
          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block javascript %}
  <script src="{% static 'main_page/js/util/csrf.js' %}"></script>
  <script src="{% static 'main_page/js/sort_table.js' %}"></script>
  <script src="{% static 'main_page/js/list_studies.js' %}"></script>
{% endblock %}