{% extends 'main_page/base.html' %}

{% load bootstrap4 %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/fill_study.css' %}">
{% endblock head %}

{% block content %}
  <img class="PresentationImage" width="100%" src="{% static image_path %}" alt="Image not generated, {{ image_path }}" >
  <form method="POST">
    {% csrf_token %}
    <div>
      <input type="button" value="Tilbage til redigering" onclick="document.location='{% url "main_page:fill_study" ris_nr %}'">
      <input type="button" value="Tilbage til hovedmenu" onclick="document.location='{% url "main_page:list_studies" %}'">
      <input type="button" value="Billede til printning" onclick="document.location='{% static image_path %}'">
      <input type="button" value="Hent csv fil"          onclick="document.location='{% url "main_page:csv" ris_nr %}'">
      <input type="submit" value="Send til PACS">

      {% if show_QA_button %}
        <input type="button" value="QA plot" onclick="document.location='{% url "main_page:QA" ris_nr %}'">
      {% endif %}

      </div>
  </form>
{% endblock %}