{% extends 'main_page/base.html' %}

{% load bootstrap4 %}
{% load static %}

{% block content %}

<h2> Resultat af {{ name }}'s undersøgelse den {{ date }} </h2>

<p> Køn: {{ sex }} </p>
<p> Alder: {{ age }}</p>
<p> Højde: {{ height }}</p>
<p> Vægt: {{ weight}} </p>
<p> Body Surface Area: {{ BSA }}</p>

<h3> GFR: {{ GFR }} </h3>
<h3> GFR-normaliseret: {{ GFR_N }} </h3>
<h2> Nyrefunktion: {{ Nyrefunktion }}</h2>

<img width="100%" src="{% static image_path %}" alt="Image not generated, {{ image_path }}" >

{% endblock %}