{% extends 'main_page/base.html' %}

{% load bootstrap4 %}
{% load static %}

{% block content %}
<h2>Resultat af {{ name }}'s undersøgelse den {{ date }}</h2>

<img width="100%" src="{% static image_path %}" alt="Image not generated, {{ image_path }}" >
<form method="POST">
  {% csrf_token %}
  <div>
    <input type="button" value="Tilbage til redigering" onclick="document.location='{% url "main_page:fill_study" rigs_nr %}'">
    <input type="button" value="Tilbage til hovedmenu" onclick="document.location='{% url "main_page:list_studies" %}'">

    <br><br>

    <h5>Afslut undersøgelse</h2>
    <p>Når undersøgelse er afsluttet kan den ikke redigeres igen.</p>
    <input type="submit" value="Send til PACS">
  </div>
</form>
{% endblock %}