{% extends 'main_page/base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
  <form>
    <div class="form-row">
      <!-- First row of fields -->
      <div class="form-group col-md-2">
        {{ getstudy.name.label }}:
        {{ getstudy.name }}
      </div>
      <div class="form-group col-md-2">
        {{ getstudy.cpr.label }}:
        {{ getstudy.cpr }}
      </div>
      <div class="form-group col-md-2">
        {{ getstudy.Rigs.label }}:
        {{ getstudy.Rigs }}
      </div>
    </div>
    <!-- Second row of fields -->
    <div class="form-row">
      <div class="form-group col-md-2">
        {{ getstudy.Dato_start.label }}:
        {{ getstudy.Dato_start }}
      </div>
      <div class="form-group col-md-2">
        {{ getstudy.Dato_finish.label }}:
        {{ getstudy.Dato_finish }}
      </div>
    </div>

    {% buttons %}
      <input type="button" name="search" value="Søg" id="search-btn">
    {% endbuttons %}
  </form>

  <br>
  <h2>Søgeresultater:</h2>
  <div id="error-message-container">

  </div>
  <table class="table table-hover" id="result_table">
    <thead>
      <tr>
        <th onclick="sort_table(0,'result_table')">Navn</th>
        <th onclick="sort_table(1,'result_table')">Cpr-nr.</th>
        <th onclick="sort_table(2,'result_table')">undersøgelsesdato</th>
        <th onclick="sort_table(3,'result_table')">Accessionnr</th>
      </tr>
    </thead>
    <tbody id="search-table-body">
      {% for resp in responses %}
      <tr onclick="document.location='{% url "main_page:present_old_study" resp.rigs_nr %}'">
        <td>{{ resp.name }}</td>
        <td>{{ resp.cpr }}</td>
        <td>{{ resp.date }}</td>
        <td>{{ resp.rigs_nr }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block javascript %}
  <script src="{% static 'main_page/js/util/csrf.js' %}"></script>
  <script src="{% static 'main_page/js/search.js' %}"></script>
  <script src="{% static 'main_page/js/sort_table.js' %}"></script>
{% endblock %}