{% extends 'main_page/base.html' %}

{% load static %}

{% block content %}
<h2>Indstillinger</h2>
<br>
<strong>Vejledning til accepted procedures:</strong> Fjerner alle søgninger fra som ikke har study description, der matcher texten i feltet 'Accepted procedures'. Hvis feltet er tomt så filtreres intet fra. Man kan filtrer over flere procedurer ved at adskille dem med et '^' tegn. Filteret er case og space sensitivt. <br>
Det specifikke tag, som der bliveret på er (0040,0275)(0032,1060)

<div class="col-md-4">
  <form method="POST">
    {% csrf_token %}
    {% bootstrap_form settings_form %}

    {% if saved %}
      <p id="success-msg" style="color: #528822;">Ændringerne blev gemt</p>
    {% endif %}

    {% buttons %}
      <input type="submit" value="Gem">
    {% endbuttons %}
  </form>
</div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'main_page/js/settings.js' %}"></script>
{% endblock %}